* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
.mousefollower {
  border: 2px solid #fff;
  background-color: rgb(255, 255, 255);
  scale: 2;
  mix-blend-mode: difference;
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #1d1d1d;
  padding: 25vh 10vw;
}
.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
}
#line1-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-weight: 10;
  font-size: 3vw;
  font-family: cursive;
}
#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}
.line h1 {
  font-size: 4.5vw;
  text-transform: uppercase;
  font-weight: 900;
  font-family: monospace;
}
.line h2 {
  font-size: 4.5vw;
  font-family: monospace;
  font-size: 4.5vw;
  opacity: 0;
  /* animation-name: loaderAnime; */
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes loaderAnime {
  0% {
    font-family: "monospace";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47% {
    font-family: "monospace";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#main {
  position: relative;
  background: #030303;
  z-index: 99;
  opacity: 1;
}
#page1 {
  height: 80vh;
  width: 100vw;
  background-color: #030303;
  position: relative;
  z-index: 100;
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4vw 5.5vw;
}
#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
#nav-part2 h4 {
  font-size: 0.8vw;
  font-weight: 500;
}
.hero {
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  z-index: 99999999999;
  display: flex;
  align-items: center;
}
.hero:nth-child(2) {
  margin-top: 19vh;
}
.hero h1 {
  font-family: monospace;
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
}
.hero h2 {
  font-family: monospace;
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  border-bottom: 0.5vw solid #fff;
  padding-bottom: 0.5vh;
  transition: all ease 0.3s;
}
.hero h2:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.5vw solid black;
}
#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 17vh;
  position: relative;
  background-color: #030303;
}
#video-container {
  height: 66vh;
  width: 71vw;
  position: relative;
  left: 28%;
  background-size: cover;
  /* overflow: hidden; */
  background-position: center;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#video-container img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
}
#video-container video {
  height: 99%;
  width: 100%;
  margin-top: 1px;
  object-fit: cover;
  opacity: 0;
}
#video-cursor {
  background-color: #ffa63d;
  height: 8.5vw;
  width: 8.5vw;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10%;
  left: 80%;
  z-index: 999;
}
#video-cursor i {
  font-size: 2vw;
}
#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #030303;
  padding: 7vh 2vw;
  margin-top: 20vh;
  font-family: monospace;
}
#page3-content h1 {
  font-family: monospace;
  font-size: 7vw;
  text-transform: uppercase;
  margin-left: 28vw;
}
#page3-content #underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
  margin-left: 28vw;
}
#image-div-container {
  /* background-color: red; */
  padding: 1vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.image-div {
  height: 38vw;
  width: 25vw;
  
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  background-color: blue;
}
.image-div:nth-child(1) {
  height: 30vw;
  width: 22vw;
}
.image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page3-circle1 {
  height: 20vw;
  width: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 28vh;
  position: relative;
  margin-left: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3-circle1 svg {
  height: 30%;
}
.page3-circle2 {
  height: 20vw;
  width: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3-circle2 svg {
  height: 30%;
  rotate: -45deg;
}
 .circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.6s;
  opacity: 0;
}

.circle-in  p{
  font-size: 1vw;
  color: black;
  width: 75%;
  font-weight: 500;
  scale: 0;
  transition: all ease 0.3s;
  transition-delay: 0.2s;
}
.page3-circle1:hover .circle-in{
    opacity: 1;
    scale: 1;
}
.page3-circle1:hover p{
    scale: 1;
}
.page3-circle2:hover .circle-in{
    opacity: 1;
    scale: 1;
}
.page3-circle2:hover p{
    scale: 1;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #030303;
  padding: 7vh 0;
  font-family: monospace;
}
#page4-content {
  width: 72vw;
  position: relative;
  margin-left: 28%;
}
#page4-content h1 {
  font-family: monospace;
  font-size: 7vw;
  text-transform: uppercase;
}
#page4-content #underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}
#page4-content > p {
  font-size: 2.05vw;
  width: 50%;
  margin-bottom: 3vw;
}
#page4-flex {
  display: flex;
}
#page4-flex img {
  width: 48%;
}
#page4-flex p {
  font-size: 0.9vw;
  width: 20%;
  margin-left: 1vw;
}

#page4-blue-div {
  background-color: #3f7df4;
  width: 33vw;
  padding: 4vw 3vw;
  position: relative;
  margin-top: -33vh;
  margin-left: 46vh;
}
.blue-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.7vw 0;
  border-bottom: 2px solid #ffffffdb;
}
.blue-div-elem h4 {
  font-size: 1.4vw;
  font-weight: 500;
}
.blue-div-elem p {
  width: 50%;
  font-size: 0.8vw;
}

#page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.elem {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -1vw;
}
.elem h1 {
  font-family: monospace;
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  animation-name: anime;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
.elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -1vw;
}
.elem2 h1 {
  font-family: monospace;
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  transform: translateX(calc(-100% - 20px));
  animation-name: anime;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.elem span {
  font-style: italic;
  font-family: monospace;
  color: transparent;
}
.elem2 span {
  font-style: italic;
  font-family: monospace;
  color: transparent;
}
#footer {
  height: 100vh;
  width: 100%;
  font-family: monospace;
  position: relative;
  padding-left: 28vw;
  padding-right: 2vw;
}
#footer h1 {
  font-size: 7vw;
  font-family: monospace;
  position: relative;
  text-transform: uppercase;
}

.underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 2vw 0;
}
.footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 4vw;
  margin-bottom: 6vw;
}
.footer-div h6 {
  font-size: 0.9vw;
  margin-bottom: 1.5vh;
  color: #ffffffaf;
  font-family: monospace;
}
.box {
  width: 30%;
}
.footer-div > h5 {
  font-size: 1.2vw;
  font-family: monospace;
  font-weight: 500;
}
#copywright-tag {
  font-family: monospace;
  font-size: 1vw;
  font-weight: 400;
}
._canvas_container {
  z-index: 9999999 !important;
  pointer-events: none;
}
